@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url("./student.css");

/*Typography
--------------------------------------------------------------*/
body {
	background-color: #db5d19;
}


h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.flex {
	display: flex;
}

header {
	font-size: 4em;
	margin: 5% 0 3% 0;
	text-align: center;
	text-transform: uppercase;
}